.footer
  p 
    | Made using twitter-bootstrap css, angularjs, and leafletjs. Icons are from <a href='http://www.glyphicons.com'>glyphicons.com</a>. 
    | Background by <a href='http://wall.alphacoders.com/big.php?i=388271'>YEFORTEOFAWESOMENESS</a>. 
    | Banner title by <a href='http://g7x2000.deviantart.com/art/Noctis-Logo-58909037'>g7x2000</a>.