link(rel='stylesheet', href='/css/style.css')
link(rel='stylesheet', href='/css/leaflet.draw.css')
link(rel='stylesheet', href='http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css')
link(rel='stylesheet', href='http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css')
link(rel='stylesheet', href='https://netdna.bootstrapcdn.com/twitter-bootstrap/2.0.4/css/bootstrap-combined.min.css')
link(rel='icon', href='/img/Logo.png')
script(src='http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js')
script(src='http://code.jquery.com/jquery-1.8.3.min.js')
script(src='https://cdn.jsdelivr.net/jquery.cookie/1.4.1/jquery.cookie.min.js')
script(src='http://code.jquery.com/ui/1.9.2/jquery-ui.js')
script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.13/angular.min.js')
script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-animate.min.js')
script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-cookies.min.js')
script(src='/js/angular-leaflet-directive.min.js')
script(src='/js/leaflet.draw.js')
script(src='/js/date.js')
script(src='/js/sizing.js')
script(src='/js/requests.js')
script(src='/js/nav-tabs.js')
script(src='/js/login.js')
script(src='/js/farm.js')
script(src='/js/map.js')
script(src='/js/app.js')
include mixins