extends layout

block content
  .wrapper
    include header
    tabs
      pane(name='Home')
        include home
      pane(name='Farm Scheduler')
        include farm
      pane(name='Map')
        include map
      pane(ng-if='sessionToken != null', name='Settings')
        include user-settings
    //- div to stick the footer
    .push
  include footer